body{
	font-family: cursive;
	background-color:#99ff99;
}

#b{
	background-color: #0099ff;
	font-family: cursive;
}
input{
	border-color:black;
	font-family: cursive;
	font-size: 20px;
}
#tips{
	font-size: 40px;
	transform: rotateZ(20deg);
	color: orange;
}
#title{
	font-size: 80px;
	transform: rotateZ(5deg);
	background-color:white;
	display: inline-block;
}
#img1{
	left: 5%;
	position: absolute;
	top: 20%;
}
#img2{
	right: 5%;
	position: absolute;
	top: 20%;
}
body{
	background-repeat:no-repeat;
	background-size: 100% 100%;
}